# data and .csv files - please contact john.collins@edhec.com re source data
*.csv
*.xls*
*.pkl
data/

# jupyter checkpoints
.ipynb_checkpoints/

# venv and logs
venv/
logs/

# working files, which I generally name 'rem'
rem.*

# environment variables
.env
.flaskenv

